$color_1: #EFEFEF;
$color_2: #112B3C;
$color_3: #FF5D5D;

.formulario{

    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    background-color:$color_2;
    display:block;
    justify-content: center;
    align-items: center;
    border-bottom: none;
 div{
     display:block;
     justify-content: center;
     align-items: center;
     color:$color_1;
     text-decoration: none;
     .Error{text-decoration: none;
    color:red}
    .input {

       width: 100%;
       
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 15px;

    }

    label{
       top: 20px;
    }
}

button{
width: 100%;
background-color: $color_3;
border-radius: 3px;
padding: 12px;
margin-top: 16px;
font-weight: bold;
font-size: 15px;
&:hover{
   background-color:#fb4b4b
}
}
    
}